<h1>Editing feed</h1>

<%= error_messages_for :feed %>

<%= form_for(@feed) do |f| %>

  <p>
  <b>Site url</b><br />
  <%= f.text_field :site_url %>
  </p>

  <p>
  <b>Feed url</b><br />
  <%= f.text_field :url %>
  </p>

  <p>
  <b>Title</b><br />
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @feed %> |
<%= link_to 'Back', feeds_path %>
