<h1>New feed</h1>

<%= error_messages_for :feed %>
<%= form_for @feed do |f| %>

  <p>
  <b>Site url</b><br />
  <%= f.text_field :site_url %>
  </p>

  <p>
  <b>Feed url</b><br />
  <%= f.text_field :url %>
  </p>

  <p>
  <b>Title</b><br />
  <%= f.text_field :title %>
  </p>

  <p>
  <b>Star</b><br />
  <%= f.check_box :star %>
  </p>

  <p>
  <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', feeds_path %>
