# encoding: utf-8
<div id="notice">
  <% if !params[:query].blank? %>
    Találatok a következő keresőkifejezésre: "<%= params[:query] %>"
  <% end %>
  <% if params[:query].blank? and !params[:page].blank? %>
    <%= params[:page] %>. oldal
  <% end %>
</div>
<div id="users">
  <% if signed_in? %>
    <%= current_user.email %> <%= link_to "Sign out", signout_path, :method => "delete" %>
  <% else %>
    <%= link_to "Sign in", signin_path %>
  <% end %>
</div>
<div id="sidebar">
  <strong><%= link_to "Mi ez?", '/about' %></strong>
  <br /><br />
  Kereső:
  <form id="search_form" name="search" action="/search" method="get">
    <input id="search" type="text" name="query" value="<%= params[:query] %>">
  </form>
  <br />

  <div class="channels">
    Feedek a Sharewoodon:<br/>
    <% for feed_url in @feed_urls %>
      <a href="<%= feed_url.site_url %>"><%= feed_url.title %></a><br />
    <% end %>
    <br />
    ---
    <br /><br />
    Iratkozz fel a <a href="http://feeds.feedburner.com/Sharewoodhu">Sharewood RSS feedjére</a>, vagy <a href="http://sharewood.hu/sharewood_opml.xml">töltsd le az opml fájlt a feedekkel</a>.<br/><br/><strong>Ha csatlakozni szeretnél hozzánk, <a href="mailto:join@sharewood.hu">írj nekünk egy emailt</a>.</strong>
  </div>
</div>
<div id="main">
  <div class="pagination">
    <%= paginate @feeds %>
  </div>
  <% if !@feeds.blank? %>
    <% for feed_item in @feeds %>
      <div class="post">
        <div class="title"><a href="<%= h feed_item.link %>"><%= h feed_item.title %></a></div>
        <div class="sub">
          <a href="<%= feed_item.site_link%>"><%= feed_item.feed_url.title %></a> osztotta meg <%= distance_of_time_in_words(Time.now, feed_item.published)%> | <a href="http://twitter.com/share?url=<%= h feed_item.link %>&amp;text=<%= h URI::escape(feed_item.title) %>" target="_blank">Oszd meg Twitteren</a> 
        </div>
        <div class="entry">
          <%= raw fix_host(feed_item.clean_content, feed_item.site_link) %>
        </div>
      </div>
    <% end %>

  <% elsif !params[:query].blank? %>
    <div class="post" style="text-align:center">
      Nincs találat.
    </div>
  <% elsif params[:query].blank? %>
    Nincsenek még feedek hozzáadva. <br />
    <a href="feed_urls">Kattints ide</a>.
  <%end%>
  <div class="pagination">
    <%= paginate @feeds %>
  </div>
</div>
